<!DOCTYPE html>
<head>
    <title>Esimerkkisivu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/esimerkkisivu.css">
</head>
<body>
    <header class="navbar">
        <a class="logo" href="/home"> 
            <h1 class="logo">LOGO</h1>
        </a>
        <i id="mode-icon" class="fa-regular fa-pen-to-square"></i>
        <nav class="nav">
            <ul>
                <li><a href="/home">Etusivu</a></li>
                <li><a href="/home/esimerkkisivu">Esimerkkisivu</a></li>
                <li><a href="/auth/login" type="button" class="button" id="login">Kirjaudu</a></li>

            </ul>
        </nav>
        <div class="menu-icon" onclick="toggleSidebar()">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <div class="sidebar" id="sidebar">
        <nav>
            <ul>
                <li><a href="/home">Etusivu</a></li>
                <li><a href="/home/esimerkkisivu">Esimerkkisivu</a></li>
                <br>
                <li><a href="/auth/login" type="button" class="button" id="login2">Kirjaudu</a></li>
            </ul>
        </nav>
    </div>
    <section class="esim-view1">
        
        <h1 id="esim-name"> <span><i id="esim-name-open" class="icon fa-solid fa-pen-to-square" style="color: #0096F5; cursor: pointer;"></i><i id="esim-name-finish" class="fa-solid fa-check" style="color: #0096F5; cursor: pointer; display: none;"></i></span></h1>
        <input id="esim-name-input" type="text" placeholder="Enter the Title" style="display: none;">

        <div class="line-text">
            <p>Written by Human</p>
            <p></p>
            <p>January 2, 2024</p>
        </div>
        <div class="image-container">
            <img id="esim-image" src="/images/alien.png" alt="alien" />
            <i id="esim-image-icon" class="icon fa-regular fa-image" style="display: inline;"></i>
            <div id="esim-image-store">
                <p id="choosen-images-title">Choose The Image</p>
                <img class="choosen-images" id="choose-image1" src="/images/cosmos.png" />
                <img class="choosen-images" id="choose-image2" src="/images/mushrooms.png" />
                <img class="choosen-images" id="choose-image3" src="/images/underwater.png" />
                <img class="choosen-images" id="choose-image4" src="/images/vippasana.png" />
                <img class="choosen-images" id="choose-image5" src="/images/success.png" />
                <img class="choosen-images" id="choose-image6" src="/images/eluminators.png" />
            </div>
        </div>

        <p id="esim-p1"> <span><i id="esim-p1-open" class="icon fa-solid fa-pen-to-square" style="color: #c80efb; cursor: pointer;"></i><i id="esim-p1-finish" class="fa-solid fa-pen-to-square" style="color: #0efb41; cursor: pointer; display: none;"></i></span></p>
        <input id="esim-p1-input" type="text" placeholder="Enter the Title" style="display: none;">
        
        <h2 id="esim-h1"> <span><i id="esim-h1-open" class="fa-solid fa-pen-to-square" style="color: #c80efb; cursor: pointer;"></i><i id="esim-h1-finish" class="fa-solid fa-pen-to-square" style="color: #0efb41; cursor: pointer; display: none;"></i></span></h2>
        <input id="esim-h1-input" type="text" placeholder="Enter the Title" style="display: none;">
        
        <p id="esim-p2"> <span><i id="esim-p2-open" class="fa-solid fa-pen-to-square" style="color: #c80efb; cursor: pointer;"></i><i id="esim-p2-finish" class="fa-solid fa-pen-to-square" style="color: #0efb41; cursor: pointer; display: none;"></i></span></p>
        <input id="esim-p2-input" type="text" placeholder="Enter the Title" style="display: none;">
        
        <h2 id="esim-h2"> <span><i id="esim-h2-open" class="fa-solid fa-pen-to-square" style="color: #c80efb; cursor: pointer;"></i><i id="esim-h2-finish" class="fa-solid fa-pen-to-square" style="color: #0efb41; cursor: pointer; display: none;"></i></span></h2>
        <input id="esim-h2-input" type="text" placeholder="Enter the Title" style="display: none;">
        
        <p id="esim-p3"> <span><i id="esim-p3-open" class="fa-solid fa-pen-to-square" style="color: #c80efb; cursor: pointer;"></i><i id="esim-p3-finish" class="fa-solid fa-pen-to-square" style="color: #0efb41; cursor: pointer; display: none;"></i></span></p>
        <input id="esim-p3-input" type="text" placeholder="Enter the Title" style="display: none;">
        
        <h2 id="esim-h3"> <span><i id="esim-h3-open" class="fa-solid fa-pen-to-square" style="color: #c80efb; cursor: pointer;"></i><i id="esim-h3-finish" class="fa-solid fa-pen-to-square" style="color: #0efb41; cursor: pointer; display: none;"></i></span></h2>
        <input id="esim-h3-input" type="text" placeholder="Enter the Title" style="display: none;">
        
        <p id="esim-p4"> <span><i id="esim-p4-open" class="fa-solid fa-pen-to-square" style="color: #c80efb; cursor: pointer;"></i><i id="esim-p4-finish" class="fa-solid fa-pen-to-square" style="color: #0efb41; cursor: pointer; display: none;"></i></span></p>
        <input id="esim-p4-input" type="text" placeholder="Enter the Title" style="display: none;">
        
        <h2 id="esim-h4"> <span><i id="esim-h4-open" class="fa-solid fa-pen-to-square" style="color: #c80efb; cursor: pointer;"></i><i id="esim-h4-finish" class="fa-solid fa-pen-to-square" style="color: #0efb41; cursor: pointer; display: none;"></i></span></h2>
        <input id="esim-h4-input" type="text" placeholder="Enter the Title" style="display: none;">
        
        <p id="esim-p5"> <span><i id="esim-p5-open" class="fa-solid fa-pen-to-square" style="color: #c80efb; cursor: pointer;"></i><i id="esim-p5-finish" class="fa-solid fa-pen-to-square" style="color: #0efb41; cursor: pointer; display: none;"></i></span></p>
        <input id="esim-p5-input" type="text" placeholder="Enter the Title" style="display: none;">
        
        <h2 id="esim-h5"> <span><i id="esim-h5-open" class="fa-solid fa-pen-to-square" style="color: #c80efb; cursor: pointer;"></i><i id="esim-h5-finish" class="fa-solid fa-pen-to-square" style="color: #0efb41; cursor: pointer; display: none;"></i></span></h2>
        <input id="esim-h5-input" type="text" placeholder="Enter the Title" style="display: none;">
        
        <p id="esim-p6"> <span><i id="esim-p6-open" class="fa-solid fa-pen-to-square" style="color: #c80efb; cursor: pointer;"></i><i id="esim-p6-finish" class="fa-solid fa-pen-to-square" style="color: #0efb41; cursor: pointer; display: none;"></i></span></p>
        <input id="esim-p6-input" type="text" placeholder="Enter the Title" style="display: none;">
        
        <h2 id="esim-h6"> <span><i id="esim-h6-open" class="fa-solid fa-pen-to-square" style="color: #c80efb; cursor: pointer;"></i><i id="esim-h6-finish" class="fa-solid fa-pen-to-square" style="color: #0efb41; cursor: pointer; display: none;"></i></span></h2>
        <input id="esim-h6-input" type="text" placeholder="Enter the Title" style="display: none;">
        
        <p id="esim-p7"> <span><i id="esim-p7-open" class="fa-solid fa-pen-to-square" style="color: #c80efb; cursor: pointer;"></i><i id="esim-p7-finish" class="fa-solid fa-pen-to-square" style="color: #0efb41; cursor: pointer; display: none;"></i></span></p>
        <input id="esim-p7-input" type="text" placeholder="Enter the Title" style="display: none;">
        
    </section>
    <script src="/js/home.js"></script>
    <script src="/js/esimerkkisivu.js"></script>
    <script src="https://kit.fontawesome.com/4dd8f67d7b.js" crossorigin="anonymous"></script>

</body>