<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/home.css">
        <title>Home Page</title>
    </head>
    <body>
        <header class="navbar">
            <h1 class="logo">LOGO</h1>
            <nav class="nav">
                <ul>
                    <li><a href="#">Etusivu</a></li>
                    <li><a href="#">Esimerkkisivu</a></li>
                    <button type="button" class="button" id="login">Kirjaudu</button>

                </ul>
            </nav>
            <div class="menu-icon" onclick="toggleSidebar()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
        <div class="sidebar" id="sidebar">
            <nav>
                <ul>
                    <li><a href="#">Etusivu</a></li>
                    <li><a href="#">Esimerkkisivu</a></li>
                    <button type="button" class="button" id="login2">Kirjaudu</button>
                </ul>
            </nav>
        </div>
        <section class="view1">
            <h1>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit. Praesent a pretium ex.</h1>
            <button type="button" class="button" id="lueLisaa">Lue Lisää</button>
        </section>
        <script src="js/home.js"></script>
        <script src="https://kit.fontawesome.com/4dd8f67d7b.js" crossorigin="anonymous"></script>
    </body>
</html>