body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    
}


.esim-view1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 40px;
    gap: 40px;    
}

.esim-view1 h1 {
    font-size: 32px;
    max-width: 100%;
    text-align: center;
}

.esim-view1 img {
    margin-top: 20px;
}

.esim-view1 p {
    font-size: 16px;
    line-height: 1.4;
    max-width: 75%;
    
}


.line-text {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#esim-image-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 50px;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

#esim-image {
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

#esim-image-store {
    display: none;
    background-color: #086BA8;
    width: 100%;
    max-width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    justify-content: space-around;
}

.choosen-images {
    width: 100%;
    max-width: 100px;
    height: auto;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
}


#mode-icon {
    margin-left: 0;
    cursor: pointer;
    font-size: 24px;
    z-index: 5;
}

#choosen-images-title {
    font-size: 56px;
}

@media screen and (max-width: 2594px) {
    #mode-icon {
        font-size: 56px;
    }

    .esim-view1 {
        margin-left: 120px;
        margin-right: 120px;
    }

    .esim-view1 h1{
        font-size: 56px;
    }

    .esim-view1 h2 {
        font-size: 32px;
    }

    .esim-view1 p {
        font-size: 24px;
    }



}
@media screen and (max-width: 1440px) {
    #mode-icon {
        font-size: 32px;
    }

    .esim-view1 {
        padding: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }


    .esim-view1 h1 {
        font-size: 32px;
    
    }

    .esim-view1 p {
        font-size: 16px;
    }

    .esim-view1 h2 {
        font-size: 24px;
    }

    .line-text p {
        font-size: 18px;
    }
}
@media screen and (max-width: 1024px) {
    #mode-icon {
        font-size: 32px;
    }
}
@media screen and (max-width: 768px) {
    #mode-icon {
        font-size: 24px;
    }

    .esim-view1 p {
        max-width: 100%;
    }

    #esim-image {
        width: 100%;
        height: auto;
    }

    .esim-view1 {
        margin-left: 40px;
        margin-right: 40px;
    }

    #choosen-images-title {
        font-size: 32px;
    }
}

@media screen and (max-width: 610px) {

    .esim-view1 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .esim-view1 h1 {
        font-size: 24px;
    }

    .esim-view1 h2 {
        font-size: 18px;
    }

    .line-text p {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 360px) {
    
}