* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 0 1px 8px #ddd;
}

.logo {
    margin-right: auto;
    font-size: 32px;
    padding: 10px 10px;
}

.navbar li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav li {
    padding: 10px 15px;
    margin: 0 5px;
}

.button {
    border-radius: 5px; /* Adjust the border radius as needed */
    background-color: #fff;;
    color: #000;
    border: 2px solid #000;
}

#login {
    padding: 10px 40px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease 0s;
}

.navbar a:hover, .button:hover {
    color: #fd1150;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    transform: translateX(-100%);
}

.sidebar nav {
    text-align: center;
    margin-top: 50px;
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    display: block;
    padding: 10px;
}

.sidebar a {
    color: #555;
    text-decoration: none;
}

.sidebar a:hover{
    color: #fd1150;
}

#login2 {
    padding: 10px 40px;
    margin: 20px;
}

.sidebar {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.sidebar.open {
    transform: translateX(0%);
}

.sidebar.close {
    transform: translateX(100%); 
}

.menu-icon {
    display: none;
    cursor: pointer;
    z-index: 2;
    font-size: 32px;
    margin-right: 10px;
}

@media (max-width: 510px) {
    .navbar .nav {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .sidebar {
        display: block;
        transform: translateX(100%);
    }
 
    @keyframes slideIn {
        from {
            transform: translateX(100%)
        }
        to {
            transform: translateX(0%)
        }
    } 


    @keyframes slideOut {
        from {
            transform: translateX(0%)
        } 
        to {
            transform: translateX(100%)
        }
    }

    .view1 h1 {
        width: 85%;
        margin-bottom: 80px;
        padding-bottom: 20px;
    }

    #greetEdit{
        position: absolute;
        margin-bottom: -200px;
    }

    .view1 button {
        width: 95%;
    }
} 

.view1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    background: url('../images/anique-statue.png') center/cover no-repeat;
    position: relative;
}

.view1 h1 {
    margin-top: 250px;
    padding-bottom: 40px;
    width: 85%;
    font-size: 32px;
    color: #ffff;
}

.view1 h1:hover + #greetEdit {
    display: block;
}

.view1 button {
    margin-top: auto;
    margin-bottom: 100px;
    padding: 10px;
    min-width: 300px;
    font-size: 18px;
    color: #fff;
    background-color: #000;
}

#greetEdit {
    display: none;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin-top: -30px;
}



#greetEdit:hover {
    display: inline;
}

