* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

body {
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 0 1px 8px #ddd;
}

.logo {
    margin-right: auto;
    font-size: 32px;
    padding: 10px 10px;
}

.navbar li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav li {
    padding: 10px 15px;
    margin: 0 5px;
}

.button {
    border-radius: 5px; /* Adjust the border radius as needed */
    background-color: #fff;;
    color: #000;
    border: 2px solid #000;
}



#login {
    padding: 10px 40px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease 0s;
}

.navbar a:hover, .button:hover {
    color: #fd1150;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    transform: translateX(-100%);
}

.sidebar nav {
    text-align: center;
    margin-top: 50px;
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    display: block;
    padding: 10px;
}

.sidebar a {
    color: #555;
    text-decoration: none;
}

.sidebar a:hover{
    color: #fd1150;
}

#login2 {
    padding: 10px 40px;
    
}

.sidebar {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.sidebar.open {
    transform: translateX(0%);
}

.sidebar.close {
    transform: translateX(100%); 
}

.menu-icon {
    display: none;
    cursor: pointer;
    z-index: 2;
    font-size: 32px;
    margin-right: 10px;
}

@media (max-width: 610px) {
    .navbar .nav {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .sidebar {
        display: block;
        transform: translateX(100%);
    }
 
    @keyframes slideIn {
        from {
            transform: translateX(100%)
        }
        to {
            transform: translateX(0%)
        }
    } 


    @keyframes slideOut {
        from {
            transform: translateX(0%)
        } 
        to {
            transform: translateX(100%)
        }
    }

    .view1 h1 {
        width: 85%;
        overflow-wrap: break-word;
    }

    #greetEdit{
        position: absolute;
    }

    #greetFinish {
        position: absolute;
        margin-right: 16px;
    }

    #greetingInput {
        position: absolute;
        margin-bottom: 20px;
        width: 300px;
        height: 32px;
    }

    .view1 button {
        width: 95%;
    }
} 

.view1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    background: url('../images/anique-statue.png') center/cover no-repeat;
    position: relative;
}

.view1 h1 {
    position: absolute;
    width: 85%;
    font-size: 32px;
    color: #ffff;
    overflow-wrap: break-word;
    padding: 50px;
}

.view1 h1:hover + #greetEdit {
    display: inline;
}



.view1 button {
    position: absolute;
    padding: 10px;
    margin-top: 250px;
    min-width: 300px;
    font-size: 18px;
    color: #fff;
    background-color: #000;
}

#greetEdit {
    position: absolute;
    display: none;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin-bottom: -100px;

}

#greetFinish {
    position: absolute;
    display: none;
    cursor: pointer;
    margin-right: 16px;
    margin-bottom: -84px !important;
    
}

#greetingInput {
    position: absolute;
    margin-bottom: 30px;
    width: 300px;
    height: 52px;
}



#greetEdit:hover {
    display: inline;
}

html {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.view2 {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 120px;
}

.view2 .item {
    margin: 20px;
    min-width: 380px;
    height: 400px;
    display: flex;
    align-content: center;
    
    justify-content:flex-start;
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 20px;
}

.text-content p {
    font-size: 16px;
}

.image-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image-content img {
    margin-top: 50px;
    object-fit: cover;
    width: 400px;
    height: 200px;
}

.view3 {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 60px 0px 60px;
}

.view3 .item {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
}



#palvelut {
    display: flex;
    justify-content: center;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 120px 20px 120px;
    background: #f0f0f0;
}

.footer-contact,
.footer-info {
    flex-basis: 33.33%;
}

.footer-info h3, .footer-contact h3 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.info-links p {
    margin-bottom: 40px;
}

.footer-contact {
    align-items: center;
    justify-content: center;
}

.footer-contact h3 {
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #000000;
    border-radius: 4px;
}

.contact-form button {
    width:100%;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    background: #f0f0f0;
    color: #000;
}